<table class="w-full border">

<tr class="bg-gray-200">
  <th>ID</th>
  <th>User</th>
  <th>Total</th>
  <th>Status</th>
  <th>Action</th>
</tr>

<tr *ngFor="let o of orders" class="border-t">

  <td>{{o.id}}</td>
  <td>{{o.userEmail}}</td>
  <td>₹{{o.totalAmount}}</td>
  <td>{{o.status}}</td>
  <td>{{o.paymentStatus}}</td>
<td>{{o.paymentMethod}}</td>

<td class="flex gap-2">

  <!-- PENDING / CONFIRMED -->
  <button
    *ngIf="o.status?.toUpperCase()==='CONFIRMED'"
    class="bg-blue-600 text-white px-2"
    (click)="updateStatus(o.id,'SHIPPED')">
    Ship
  </button>

  <!-- SHIPPED -->
  <button
    *ngIf="o.status?.toUpperCase()==='SHIPPED'"
    class="bg-green-600 text-white px-2"
    (click)="updateStatus(o.id,'DELIVERED')">
    Deliver
  </button>

  <!-- DELIVERED / CANCELLED -->
  <button
    *ngIf="o.status?.toUpperCase()==='DELIVERED' || o.status?.toUpperCase()==='CANCELLED'"
    class="bg-red-600 text-white px-2"
    (click)="deleteOrder(o.id)">
    Delete
  </button><button
    *ngIf="o.status?.toUpperCase()==='PENDING'"
    class="bg-red-600 text-white px-2"
    (click)="deleteOrder(o.id)">
    Force Delete
  </button>

</td>


</tr>

</table>
