<app-navbar></app-navbar>
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">

  <div class="bg-white p-10 rounded-2xl shadow-xl text-center">

    <h2 class="text-3xl font-bold mb-6">🎁 Try Your Luck</h2>
<button 
  (click)="tryCoupon()"
  [disabled]="isDisabled()"
  class="bg-purple-600 text-white px-6 py-3 rounded disabled:bg-gray-400">
  
  {{ loading ? 'Trying...' : 
     (attempts >= maxAttempts ? 'No Attempts Left ❌' : 'Try Your Luck 🎁') }}

</button>
<div *ngIf="myCoupons.length > 0" class="mt-6">

  <h3 class="font-semibold mb-2">🎟 Your Coupons</h3>

  <div *ngFor="let c of myCoupons" class="bg-gray-100 p-3 rounded mb-2">

    <p><b>{{c.coupon.code}}</b></p>
    <p>{{c.coupon.discountPercent}}% OFF</p>
    <p *ngIf="c.used" class="text-red-500">Used</p>

  </div>

</div>

    <p *ngIf="message" class="mt-6 text-lg font-medium">
      {{message}}
    </p>

  </div>

</div>