<nav class="bg-white shadow-md sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex justify-between items-center h-16">

      <!-- Logo -->
      <div class="flex items-center gap-8">
        <h1 class="text-2xl font-bold text-green-900 tracking-wide cursor-pointer">
          ShopNest
        </h1>

        <!-- Desktop Links -->
        <div class="hidden md:flex items-center gap-6 text-gray-700 font-medium">

          <!-- USER ONLY -->
           <a *ngIf="auth.isUser()" routerLink="/home">Home</a>
          <a *ngIf="auth.isUser()" routerLink="/cart">Cart</a>
          <a *ngIf="auth.isUser()" routerLink="/account/wishlist">Wishlist</a>

          <!-- ADMIN ONLY -->
          <a *ngIf="auth.isAdmin()" routerLink="/admin/dashboard">Dashboard</a>
          <a *ngIf="auth.isAdmin()" routerLink="/admin/orders">Admin Orders</a>

        

        </div>
      </div>

      <!-- Search -->
      <div class="hidden md:flex flex-1 mx-8 max-w-md">
        <input
          type="text"
          placeholder="Search products..."
          class="w-full border rounded-l-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-700"
        />
        <button class="bg-green-900 text-white px-4 rounded-r-lg hover:bg-green-800">
          🔍
        </button>
      </div>

      <!-- Right -->
      <div class="flex items-center gap-4">

        <a routerLink="/account"
           class="hidden md:flex items-center gap-2 text-gray-700 hover:text-green-700 transition">
          👤 Profile
        </a>

        <button
          (click)="logout()"
          class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg transition shadow-sm">
          Logout
        </button>

      </div>

    </div>
  </div>
</nav>